@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@700&family=Shadows+Into+Light&family=Tapestry&display=swap');
.services{
    width: 100vw;
    height: 70vh;
background-color: rgb(255, 145, 26);
}
.service_card{
    background-color: #f7f0c6;
}
.service_card>h1{
    font-family: 'Tapestry', cursive;
    text-transform: uppercase;
    color: #593d0d;
}
.service_card>p{
    font-family: 'Bangers', cursive;
font-family: 'Orelega One', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Tapestry', cursive;
}